.profile_picture {
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.stories {
    margin: 0 auto;
    width: 70px;
    height: 70px;

    border: 3px solid transparent;
    background: linear-gradient(rgb(0,143,104), rgb(250,224,66)) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
}

.posts {
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.navPicture {
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.homepageProfile {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.recommendation {
    width: 30px;
    height: 30px;
}